[submodule "external/libtiff/libtiff"]
	path = external/libtiff/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "zlib"]
	path = external/zlib/zlib
	url = https://github.com/madler/zlib.git
